
p{
    font-family: Roboto,Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin:0;
    padding-left: 96px;
    padding-top: 80px;
    padding-right: 26px;
    padding-bottom:200px;
    background-color: rgb(248,248,248);
}
@media (min-width: 1200.1px) {
    body {
      margin-left: 168px;
    }
  }
