@media (max-width:1200px){
    .side-bar{
        position: fixed;
        top:55px;
        left: 0;
        bottom: 0;
        width: 72px;
        background-color: white;
        z-index: 200;
        padding-top: 5px;
    }
    .sidebar-link{
        height: 74px;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }
    
        
        
    
    .sidebar-link:hover{
        background-color: rgb(240, 240, 240);
    }
    .sidebar-link img{
        height: 24px;
        margin-bottom: 4px;
    }
    .sidebar-link div{
    
        font-family: Roboto,Arial;
        font-size: 10px;
    }
}
@media (min-width:1200.1px){
    .side-bar{
        position: fixed;
        top:55px;
        left: 0;
        bottom: 0;
        width: 240px;
        background-color: white;
        z-index: 200;
        padding-top: 13px;
    }
    .sidebar-link{
       
        display: flex;
      
        
        align-items: center;
        padding: 8px 24px;
        cursor: pointer;
    }
    
        
        
    
    .sidebar-link:hover{
        background-color: rgb(240, 240, 240);
    }
    .sidebar-link img{
        height: 24px;
        margin-right: 24px;
    }
    .sidebar-link div{
    
        font-family: Roboto,Arial;
        font-size: 14px;
    }
}
